<address class="adr">
    <strong class="org">{{ site.title }}</strong>
    <span class="street-address">{{ site.address.street }}</span>
    <span class="locality">{{ site.address.locality }}</span>
    <span class="region">{{ site.address.region }}</span>
    <span class="postal-code">{{ site.address.postcode }}</span>
</address>
