<nav role="navigation">
    <ul>
        <li class="home">
            <a href="/">Home</a>
        </li>
        <li class="art">
            <a href="/art">Art</a>
        </li>
        <li class="sculpture">
            <a href="/sculpture">Sculpture</a>
        </li>
        <li class="about">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>
