---
layout: default.njk
---
<div class="boxes">
    <div class="box box--art">
        <a href="{{ '/art/' | url | absoluteUrl(config.baseUrl) }}">
            <img src="{{ art_image | url | absoluteUrl(config.baseUrl) }}" title="" alt="Watercolour of a field with heather" loading="lazy" />
            <h2>{{ art }}</h2>
        </a>
    </div>
    <div class="box box--sculpture">
        <a href="{{ '/sculpture/' | url | absoluteUrl(config.baseUrl) }}">
            <img src="{{ sculpture_image | url | absoluteUrl(config.baseUrl) }}" title="" alt="A clay sculpture of a black and white panda" loading="lazy" />
            <h2>{{ sculpture }}</h2>
        </a>
    </div>
</div>
