---
title: Victoria Kuc – Art & Sculpture
bodyClass: home
---
<div class="boxes">
    <div class="box box--art">
        <a href="/art/">
            <img src="/img/art.jpg" title="" alt="Watercolour of a field with heather" />
            <h2>Art</h2>
        </a>
    </div>
    <div class="box box--sculpture">
        <a href="/sculpture/">
            <img src="/img/sculpture.jpg" title="" alt="A clay sculpture of a black and white panda" />
            <h2>Sculpture</h2>
        </a>
    </div>
</div>
